// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$angular-starter-project-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
        use-system-variables: true),
      typography:(plain-family:'Rubik', brand-family:'Rubik', use-system-variables: true),
    ));

$green-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$green-palette,
        tertiary: mat.$blue-palette,
        use-system-variables: true),
      typography:(plain-family:'Rubik', brand-family:'Rubik', use-system-variables: true),
    ));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($angular-starter-project-theme);
  @include mat.system-level-colors($angular-starter-project-theme);
  @include mat.system-level-typography($angular-starter-project-theme);
  @include mat.toolbar-color($angular-starter-project-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($angular-starter-project-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($angular-starter-project-theme);
/* You can add global styles to this file, and also import other style files */


// Start input stuff
:root {
  @include mat.form-field-density(-5)
}

.full-width-form-field {
  width: 100%;
}

:root {
  --mat-card-subtitle-text-color: rgba(0, 0, 0, 0.54); //var(--sys-on-surface-variant)
  --mat-card-subtitle-text-weight: 400;
  --mat-toolbar-container-background-color: var(--sys-primary);
  --mat-toolbar-container-text-color: var(--sys-on-primary);
}

.mdc-text-field__input::-webkit-calendar-picker-indicator {
  display: inherit !important;
}

// End input stuff


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a {
  background-color: transparent;
  color: #337ab7;
  text-decoration: none;
}

a:hover {
  background-color: transparent;
  color: #337ab7;
  text-decoration: underline;
}

.full-page {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.grow-item {
  height: 250px;
  flex-grow: 1;
  flex-shrink: 0;
  overflow-y: auto;
}

.canceled {
  background-color: lightgray !important;

  >td {
    background-color: lightgray !important;
  }
}

.table,
th,
td {
  border: 1px solid #ddd;
  padding: 10px 10px;
}

th {
  background-color: #f1f1f1;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

// *:hover {
//   outline: 1px blue solid;
// }